form.form-horizontal(role='form', name='addEventForm', ng-submit='$ctrl.createEvent()')
    h2.text-center Add event
    .form-group
        label.col-md-3.control-label Date
        .col-md-9
            input.form-control(type='text', required='', name='date', ng-model='$ctrl.event.date')
    .form-group
        label.col-md-3.control-label Score
        .col-md-9
            input.form-control(type='text', required='', name='score', ng-model='$ctrl.event.score')
    .form-group
        label.col-md-3.stakeholder(for='stakeholders') Stakeholders
        .col-md-9
            select#stakeholders.form-control(
            name='stakeholders',
            multiple,
            ng-dropdown-multiselect='',
            options='$ctrl.stakeholdersList',
            ng-model='$ctrl.event.stakeholders')
                option(ng-repeat='option in $ctrl.stakeholdersList track by $index',
                value='{{option}}',
                ng-bind="option.firstName")
    .form-group
        button.btn.btn-primary.col-md-offset-9(type='submit') Submit